@import "./base/reset";
@import "./helpers/variables";
@import "./helpers/mixin";
@import "./base/typo";
@import "./components/navbar";
@import "./components/button";
@import "./components/slider";
@import "./layout/header";
@import "./layout/productFeature";
@import "./pages/detail";
@import "./pages/register";
@import "./pages/cart"
