// FONT
$font-family: "Inter", sans-serif;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 30px;
$fs-3: 24px;
$fs-4: 40px;
$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 200;

// COLOR
$color-yellow: #f8b653;
$color-yellow-darker: #e1b067;
$color-black: #000000;
$color-gray: #dedddc;
$color-gray-btn: #cccccc;
$color-light-gray: #f8f8f8;
$color-footer-gray: #ececec;
$color-footer-credit: #d9d9d9;
$color-text-gray: #f6f6f6;
$color-gray-description: #cbc9c9;
$color-white: #ffffff;
$color-light-green: #fafafa;
$color-orange-light: #df8f8b;
$color-green: #1ed90e;
$color-green-btn: #9de167;
$color-red: #fc0303;
$color-purple: #af19e3;
$color-purple-btn: #6200ee;
$color-purple-nav: #dd2aed;
